.glower {
    background-color: #2d00ce;
    filter: blur(20px);
    transition: all 0.3s;
    opacity: 0.05;
    height: 500px;
    width: 400px;
    border-radius: 100vh;
    transform: rotate(45deg);
    z-index: -1;
    position: absolute;
}