@use "sass:color";
$primary-color: #3498db;
$hover-color: color.adjust($primary-color, $lightness: -10%);


.button {
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  animation: spawn 0.8s ease-out;

  &:hover {
    background-color: $hover-color;
  }
}

@keyframes spawn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  60% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}