.toggleButton {
    padding: 10px;
    font-size: 16px;
    background-color: #212121;;
    opacity: 50%;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

    box-shadow: 5px 5px 15px rgb(25, 25, 25);
  
    &.checked {
      background-color: #1976D2;
      opacity: 100%;
    }
  }
  
  .buttonText {
    transition: opacity 0.3s ease;
  }
  